.App {

  display: flex;
  text-align: center;
  width: 360px;
  margin: 10px auto; 
  background-color: blanchedalmond;
  flex-direction: column;

}

.router-class{
  background-color:blueviolet;
}


.ul-main{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;
  margin-left: 0;
  

}
.li-main{
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 280px;
  color: azure;
 
}
.lista-li{
  display: flex;
  list-style: none;
  justify-content:space-between;
  width: 360px;
}

.nombre-producto{
  width: 90px;

}

.lista-nav{
  display: flex;
  width: 280px;
  margin-top: 80px;
  flex-direction: row;
  justify-content:space-between;
  
}
li{
  list-style: none;
  margin-left: 0;
}


.cont-main{
  display: flex;
  justify-content:space-between;
  background-color:blueviolet;
  width: 360px;
}

.class-producto{
  color: azure;
  background-color:blueviolet;
}

.ul-producto{
  margin-left: 0;
  padding: 0;
}

.ul-producto li{
  margin-left: 0;
  
  
}

.class-registro{
  background-color:blueviolet;

}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formulario div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formulario div label{
  color: azure;
  width: 90px;
}


.error{
  color: red;
  font-size: small;
  
}

.datos{
  display: flex !important;
  flex-direction: column !important;
}